<launch>

  <include file="$(find launchers)/launch/joy_drive.launch" />

  <!-- TRANSFORMS -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_tf" args="0 0 0.1427 -0.007652281432812 0.003060912573125 0 0.999966036124774 base_link base_imu" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="enc_tf" args="0.21 0 0 0 0 0 1 base_link base_enc" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="zed_tf" args="0.205 0 0.209 0 0 0 1 base_link base_zed" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="enc_odom_tf" args="0.21 0 0 0 0 0 1 odom odom_enc" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="zed_odom_tf" args="0.205 0 0.209 0 0 0 1 odom odom_zed" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="zed_map_tf" args="0.205 0 0.209 0 0 0 1 map map_zed" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_tf" args="0.135 0 0.155 0 0 0 1 base_link base_gps" />

  <!-- ZED 2 -->
  <include file="$(find zed_wrapper)/launch/zed2.launch" />
  
  <!-- GPS -->
  <include file="$(find ublox_gps)/launch/ublox_device.launch" >
    <arg name="node_name" value="gps"/>
    <arg name="param_file_name" value="navigps"/>
  </include>

  <!-- IMU -->
  <node name="imu" pkg="imutfb" type="imumag.py"/>

</launch> 
